schemas/billing/xsd/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://demo.local/billing/xsd"
            xmlns="http://demo.local/billing/xsd"
            elementFormDefault="qualified">
  <xsd:element name="invoice" type="InvoiceType"/>
  <xsd:complexType name="InvoiceType">
    <xsd:sequence>
      <xsd:element name="invoiceId" type="xsd:string"/>
      <xsd:element name="customerId" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
      <xsd:element name="currency" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
