schemas/claims/wsdl/claims-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://demo.local/claims/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://demo.local/claims/wsdl"
             name="ClaimsService">
  <types>
    <xsd:schema targetNamespace="http://demo.local/claims/wsdl">
      <xsd:element name="getClaimRequest" type="xsd:string"/>
      <xsd:element name="getClaimResponse" type="xsd:string"/>
    </xsd:schema>
  </types>
  <message name="GetClaimRequest">
    <part name="claimId" element="tns:getClaimRequest"/>
  </message>
  <message name="GetClaimResponse">
    <part name="claim" element="tns:getClaimResponse"/>
  </message>
  <portType name="ClaimsPortType">
    <operation name="GetClaim">
      <input message="tns:GetClaimRequest"/>
      <output message="tns:GetClaimResponse"/>
    </operation>
  </portType>
  <binding name="ClaimsSoapBinding" type="tns:ClaimsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetClaim">
      <soap:operation soapAction="getClaim"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>
</definitions>
